unset GOOS;
unset GOARCH;
export GOROOT='/root/.gimme/versions/go1.19.5.linux.amd64';
export PATH="/root/.gimme/versions/go1.19.5.linux.amd64/bin:${PATH}";
go version >&2;

export GIMME_ENV='/root/.gimme/envs/go1.19.5.linux.amd64.env';
